html{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #f4f;
}

p{
  font-family: "Times New Roman", Times, serif;
  font-size: 200px;
}

.text{
  text-align: center;
  color: #1256a7;
  font-size: 300px;
}
