<!doctype html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://rsms.me/inter/inter.css" rel="stylesheet" />
  <link href="assets/style.css" rel="stylesheet" />
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>

  <style type="text/css">
    .title {
      color: #2345ff;
      font-family: "Inter", sans-serif;
      font-size: 50px;
      font-weight: 700;
      line-height: 1.2;
      margin: 0 0 40px;
      padding: 0;
      text-align: center;
      text-transform: uppercase;
    }
  </style>
</head>

<body>
  <p class="title"> Hello, {{ name }}!</p>
  <button hx-get="/api/hello" hx-swap="innerHTML" hx-trigger="click">Click Me to say hello!</button>
</body>

</html>
